:root {
  --border-color: #ccc;
  --hover-bg-color: #fef2f2;
  --completed-text-color: #D14D72;
  --button-bg-color: #D14D72;
  --button-text-color: #FFF9F9;
  --nav-link-color: #ccc;
  --nav-link-hover-color: #3A3845;
  --nav-link-active-color: #000;
  --nav-link-active-border-color: #68B984;
}

.main-task li:first-child {
  border-top: .1rem solid var(--border-color);
}

.main-task li:hover {
  background-color: var(--hover-bg-color);
}

.main-task li input[type="checkbox"]:checked + label {
  text-decoration: line-through;
  color: var(--completed-text-color);
}

.main-task li button {
  padding: .6rem 1rem;
  width: 7rem;
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  border: none;
  display: inline-block;
  cursor: pointer;
  justify-self: center;
  letter-spacing: .1rem;
}

nav a {
  font-size: 2rem;
  font-family: 'Lexend Deca', sans-serif;
  color: var(--nav-link-color);
  border-bottom: .3rem solid transparent;
  text-decoration: none; /* Ensure links don't have default underline */
}

nav a:hover {
  border-color: var(--nav-link-hover-color);
}

nav a.active {
  color: var(--nav-link-active-color);
  border-color: var(--nav-link-active-border-color);
}

/* Media Queries for responsiveness */
@media (max-width: 768px) {
  nav a {
    font-size: 1.5rem;
  }

  .main-task li button {
    width: auto;
    padding: .6rem;
  }
}
